<div id="<%= dom_id(article) %>">
  <div class="title"><%= article.title %></div>
  <div class="views-count"><%= article.views_count %></div>
  <div class="author"><%= article.author.name %></div>
  <div class="publish-date"><%= article.publish_date %></div>
</div>